@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}
.navbar {
    background-color: #008cba;
    color: white;
    padding: 15px;
    text-align: center;
}
.navbar h1 {
    margin: 0;
    font-size: 28px;
}
.container {
    padding: 20px;
}
h1 {
    text-align: center;
    color: #008cba;
}
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}
label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
}
input[type="file"],
select,
input[type="number"],
input[type="submit"],
a.download-link {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}
input[type="submit"],
a.download-link {
    background-color: #008cba;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}
input[type="submit"]:hover,
a.download-link:hover {
    background-color: #005f7f;
}
#resize-options {
    display: none;
}
.button-group {
    display: flex;
    gap: 10px;
}
.button-group a.download-link {
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-group a.download-link i {
    margin-right: 8px;
}



        /* Custom CSS for the Flask Bootstrap Example */

        /* Navbar */
        .navbar-brand {
            font-size: 1.5rem;
            color: #ffcc00 !important;
        }
        .bg-dark {
            background-color: #008cba !important;
          }

        .navbar-nav .nav-link {
            font-size: 1.1rem;
        }

        /* Page Content */
        .container {
            margin-top: 20px;
        }

        /* Cards */
        .feature-card {
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease;
        }

        .feature-card:hover {
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
        }

        .card-img-top {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .card-body {
            padding: 1.5rem;
        }

        .card-title {
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
        }

        .card-text {
            font-size: 1rem;
            color: #666;
        }

        .footer {
            padding: 10px 0;
            background-color: #008cba;
            color: #fff;
            text-align: center;
            bottom: 0;
            width: 100%;
        }

        .footer a {
            color: #ffcc00;
        }

        .footer a:hover {
            color: #fff;
        }