<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Bootstrap Example</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <style>

    </style>
</head>

<body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><i class="fas fa-cogs"></i>Moglix</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-home"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-concierge-bell"></i> Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-sign-in-alt"></i> Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-user-plus"></i> Sign Up</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Page content -->
    <div class="container mt-5">

        <!-- Card -->
        <div class="row">
            <div class="col-md-4">
                <div class="feature-card">
                    <img src="{{url_for('static', filename='images/image.webp')}}" class="card-img-top" alt="Price Extraction">
                    <div class="card-body">
                        <h5 class="card-title">General Image</h5>
                        <p class="card-text">Download image from link</p>
                        <a href="{{url_for('index')}}" class="btn btn-primary"><i class="fas fa-arrow-circle-down"></i> Start</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="feature-card">
                    <img src="{{url_for('static', filename='images/dropbox.png')}}" class="card-img-top" alt="Coming Soon">
                    <div class="card-body">
                        <h5 class="card-title">Dropbox Image</h5>
                        <p class="card-text">Download image from Dropbox</p>
                        <a href="{{url_for('dropbox')}}" class="btn btn-primary"><i class="fas fa-arrow-circle-down"></i> Start</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="feature-card">
                    <img src="{{url_for('static', filename='images/msn.png')}}" class="card-img-top" alt="Coming Soon">
                    <div class="card-body">
                        <h5 class="card-title">Check Unique MSN</h5>
                        <p class="card-text">Check Unique Msn And download it</p>
                        <a href="{{url_for('unique')}}" class="btn btn-primary"><i class="fas fa-arrow-circle-down"></i> Start</a>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="feature-card">
                    <img src="{{url_for('static', filename='images/pdf_to_image.png')}}" class="card-img-top" alt="Coming Soon">
                    <div class="card-body">
                        <h5 class="card-title">PDF TO IMAGES</h5>
                        <p class="card-text">Extract image from pdf</p>
                        <a href="{{url_for('upload_file_image')}}" class="btn btn-primary"><i class="fas fa-arrow-circle-down"></i> Start</a>
                    </div>
                </div>
            </div>
            <!-- Add more cards here if needed -->
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer bg-dark text-light mt-5">
        <div class="container">
            <span>Privacy Policy for Moglix Company</span>
        </div>
    </footer>

    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
